<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录界面</title>
    <meta charset="utf-8">
    <style type="text/css">
        form>div{height: 50px}
        /*让输入框对齐*/
        form label{display: inline-block;width: 80px;}

    </style>
    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js">
    </script>
    <script>
        $(function() {

            $("#button1").click(function(){
                // 实现页面跳转
                window.location.href = "/register";
            });

        });
    </script>
</head>
<body>

<div id = "div1">

    <div>
        <h1>请您登录！</h1>
    </div>
    <div>
        <p th:text="${information}" style="color: red">这里是信息提示.</p>
    </div>
    <form action="/logining" method="post">
        <div>
            <label>用户名:</label>
            <input type="text" name="username" placeholder="请输入用户名">
        </div>
        <div>
            <label>密&nbsp;&nbsp;&nbsp;码:</label>
            <input type="password" name="password" placeholder="请输入密码">
        </div>
            <span th:text="${checknode}" style="color: red"></span>
        <div>
            <label>验证码:</label>
            <input type="text" name="checknode" placeholder="请输入验证码">
            <img src='/checknode'><a href="/login">看不清,刷新试试</a>
        </div>
        <!-- <div>
            <input id="remember-me" name="remember-me" type="checkbox"/>记住密码
        </div> -->
        <div style="float:left;">
            <button type="submit" class="button2">登录</button>
        </div>
    </form>
    <!-- 实现在一行显示两个div -->
    <div style="width:1135px;float:right;">
        <button id="button1">注册</button>
    </div>
</div>
</body>
</html>